
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', arial;
    
}

/* Navbar section */

.navbar, .hero, footer {
    background-color: #1F2937;

    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-link {
    margin-left: auto;
    padding: 0px 24px 0px 0px;  
}

.nav-logo{
    padding-left: 26em;
}

.nav-links {
    padding-right: 29em;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 2em 0 0 0;
}

.hero-second-text, .header-link {
    font-size: 18px;
    color: #E5E6EB;
    text-decoration: none;
}

.hero-second-text {
    margin: 8px 0 8px 0;
}

.hero-texts {
    margin: 0 0 8em 0;
    padding: 6em;
    width: 22em;
}

.hero-img {
    display: flex;
    margin: 7em;
    box-shadow: 6px 2px 20px 10px black;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-button {
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    margin: 4px 0;
}

.header-img {
    height: 19em;
    width: 34em;
    
}

/* Second Container */

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 1em;
}

.item-container {
    display: flex;
    margin: 0 18em 6em 18em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item {
    margin: 0 1em 0 1em;
}

.idea-gif {
    width: 14em;
    height: 14em;
}

/* Third Container */
.third-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em;
    
}

.quote-text {
    font-size: 34px;
    font-style: italic;
    font-weight: 0;
    color: darkslategray;
    width: 60%;
    margin-bottom: 0;
    text-align: left;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 35em;
}

/* Fourth Container */

.modal {
    margin: 5em 20em 5em 20em;
    color: white;
    background-color: #3882F6;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0 3em 0;
}

.modal-text {
    padding: 3em 0em 3em 8em;
    
}

.modal-h1, .modal-p {
    margin-bottom: 0;
    margin-top: 4px;
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-signup-btn {
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    border: white solid 2px;
    margin: 0 10em 0 0;
}

/* Footer  */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0 2em 0;
    color: white;
}
