body {
    margin: 0;
    font-family:sans-serif;
    /* margin-top: -16px; */
}

/* Header section */

header, footer {
    background-color: #1F2937;
    
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-second-text, .header-link {
    font-size: 18px;
    color: #E5E6EB;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-button {
    background-color: #3882F6;
}

/* Second Container */
.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* Third Container */
.third-container {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
}

